<div class='artists'>
  {{#each artists}}
    <div class="artistAlbum"
        <h2>{{name}}</h2>
      <img class="artistAlbumImg" src='{{images.0.url}}' alt={{name}}/>
     <a href='/albums/{{id}}'><button>View albums</button></a>  
    </div>
  {{/each}}
</div>