<div class='tracks'>
  {{#each tracks}}
    <div class="track">
        <h2>{{this.name}}</h2>
  <audio controls>
    <source src="{{preview_url}}" type="audio/ogg">
  <source src="{{preview_url}}" type="audio/mp3">
Your browser does not support the audio element.
</audio> 
    </div>
  {{/each}}
</div>