.artistAlbum, .album{
  display:flex;
  flex-direction: column;
  height: 250px;
  max-width: 250px;
  align-items: center;
 justify-content: space-evenly;
 margin-bottom: 50px;
}

.artistAlbumImg, .album{
  width: 150px ; 
}

.artists, .albums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
